$brand-color: #092c47 !default;
$brand-grey: #e6e9ec !default;
$brand-bg: #ffffff !default;
$brand-blue: #0e6aed !default;
$brand-blue-light: #267af2 !default;
$grey100: #092c47 !default;
$grey90: #22445f !default;
$grey75: #476175 !default;
$grey60: #5b5b5b !default;
$grey50: #8495a3 !default;
$grey40: #f3f3f3 !default;
$grey10: #f9f9f9 !default;
$grey5: #f6f9ff !default;
$white: #ffffff !default;

/* font-size */
/* h1 */
$h1: 30px !default;
$h1-big: 30px !default;
$h1-lg: 30px !default;
$h1-md: 30px !default;
$h1-sm: 30px !default;
$h1-xs: 30px !default;

/* h2 */
$h2: 24px !default;
$h2-big: 24px !default;
$h2-lg: 24px !default;
$h2-md: 24px !default;
$h2-sm: 24px !default;
$h2-xs: 24px !default;
/* h3 */
$h3: 20px !default;
$h3-big: 20px !default;
$h3-lg: 20px !default;
$h3-md: 20px !default;
$h3-sm: 20px !default;
$h3-xs: 20px !default;
/* h4 */
$h4: 16px !default;
$h4-big: 16px !default;
$h4-lg: 16px !default;
$h4-md: 16px !default;
$h4-sm: 16px !default;
$h4-xs: 16px !default;
/* h5 */
$h5: 16px !default;
$h5-big: 16px !default;
$h5-lg: 16px !default;
$h5-md: 16px !default;
$h5-sm: 16px !default;
$h5-xs: 16px !default;
/* h6 */
$h6: 14px !default;
$h6-big: 14px !default;
$h6-lg: 14px !default;
$h6-md: 14px !default;
$h6-sm: 14px !default;
$h6-xs: 14px !default;

/* breakpoints */
$screen-big-min: 1680px !default;
$screen-lg-min: 1200px !default;
$screen-md-min: 992px !default;
$screen-sm-min: 768px !default;
$screen-xs-min: 576px !default;
$screen-xss-min: 500px !default;
